.container {
	font-family: Montserrat;
	margin: 2vh 2vw;
}
thead, tbody, p {
	font-size: 10pt;
}
th, td {
	padding: 5px 10px;
	text-align: left;
}
a {
	text-decoration: none !important;
	color: teal;
	font-size: 10pt;
}
a:hover {
	color: #214B53;
}
.newbook {
	margin: 5vh 1vw;
}
.btn {
	background-color: teal;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: white;
	padding: 5px 10px;
	font-family: Montserrat;
	font-size: 9pt;
	margin-top: 2vh;
}
.btn:hover {
	background-color: #214B53;
	color: #B2DFDB;
}
.line {
	color: lightgray;
}